$themeColor: #0f2e2e;
$background: #122;
$lightgreen: #37f037;
$lightgreenhover: #37f037bb;
$tabactive: #88d8886a;
$bordermediumlight: #ffffff36;
$white: #fff;
$tabhover: #4868725e;
$Arial: Arial, Helvetica, sans-serif;
$bgDocWord: rgba(0, 0, 255, 0.253);
$bgPdf: rgb(184, 19, 19);
$widthAreaMessages: 75%;
$bodyHeight: 90%;
$boxHeight: 10%;
$widthBtnSubmit: 7%;
$withTextAreaSingleMessage: 93%;
$textColorSubmit: #fff;
$textColorNotSubmit: #ffffff61;
$fontFamilyMessage: "fira code";
$usercoloronline: #de0606;
$fontweightNotification: 500;
